@import '~bootstrap/scss/bootstrap';

header{
    .logo{
        width: 130px;
    }
}

main{
    background-image: url(https://images.pexels.com/photos/918281/pexels-photo-918281.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-repeat: no-repeat;
    background-size: cover;
    
    .jumbotron{
        opacity: 0.9;
        background-color: lightcyan;
    }

    h1{
        color: darkcyan;
    }
    .movies{

        .card{
            border: none;
        }
    }

    .best_movies{
        h2{
            margin-bottom: 1.5rem;
            color: darkcyan;
        }
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
}

footer{

    .logo{
        width: 80px;
    }
}
